$border: 1px solid rgb(182, 179, 179);
$blackColor:#212121;
$whiteColor:#fefefe;

@mixin breakpoints($point) {
    @if $point==mobile {
        @media (max-width: 940px) {
            @content;
        }
    }
}

body {
    background-color: $whiteColor;

   
}

* {
    padding: 0;
    margin: 0;
    color: $blackColor;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.page-container {
    width: 50%;
    margin: 90px auto;
    text-align: center;

    @include breakpoints(mobile) {
        width: 100%;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            color: $blackColor;
            font-size: 30px;
        }

        .product-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 80%;
            margin: 0 auto;

            @include breakpoints(mobile) {
                width: 90%;
            }

            .product-info {
                display: flex;

                h3 {
                    padding: 10px;
                    background-color: $blackColor;
                    color: $whiteColor;
                    border: $border;
                    width: 30%;
                    text-align: center;
                    
                    @include breakpoints(mobile) {
                        font-size: 12px;                    }
                }
            }

            .display-product {
                border: $border;
                background-color:#dc3545;
                padding: 10px;
                color: white;
            }

            .items {
                display: flex;
                margin-bottom: 5px;

                p {
                    padding: 10px;
                    border: $border;
                    width: 30%;
                    word-break: break-word;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                button {
                    padding: 10px;
                    background-color: #dc3545;
                    font-size: 15px;
                    border: none;
                    cursor: pointer;
                    width: 30%;

                    &:hover {
                        opacity: 0.7;
                    }
                    i{
                        color: white;
                    }
                }
            }

            form {
                display: flex;

                input {
                    border: none;
                    border: $border;
                    width: 30%;
                    padding: 10px;
                }

                button {
                    padding: 10px;
                    background-color: #28a745;
                    color: white;
                    font-size: 15px;
                    border: none;
                    cursor: pointer;
                    width: 30%;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            .total-price {
                border: $border;
                padding: 10px;

                p {
                    font-size: 25px;

                    span {
                        color: #e63946;
                    }
                }
            }
        }
    }
}